{% extends 'base.html' %}
{% block content %}
{% load static %}

 <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'newapp:department' %}"></a></li>
              {% for c in links %}
            <li><a class="dropdown-item" href="{{c.get_url}}">{{c.name}}</a></li>
              {% endfor %}
          </ul>





<form method="post" id="StudentForm" data-branches-url="{% url 'newapp:add' %}" novalidate>
    {% csrf_token %}

      {{ form.as_table }}


        <button type="submit">Save</button>


  </form>
{% for msg in messages %}
{{msg}}
{% endfor %}<br>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


{% endblock %}
